html {
    --scrollbarBG: #ffffffb8;
    --thumbBG:  #00796d;
  }
  body::-webkit-scrollbar {
    width: 18px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 200px;
    border: solid var(--scrollbarBG);
  }

body{
    background:#2a2a2a;
  background-size: 400% 400%;
  height: 200vh;
}

h2{padding-top: 170px;}




@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
}
}



 

/*NAVBAR*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}

.navbar img{
  height:auto;
  width: 80px;
}

i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: rgb(0, 0, 0);
    padding-right: 8%;

}
.navbar-mainbg{
   position: fixed;
   z-index: 1000;
   width: 100%;
	background-color: #e5e5e5c4;
	padding: 0px;
    height: 62px;
    box-shadow: 0px 63px 400px 43px rgba(0,0,0,0.85);
-webkit-box-shadow: 0px 63px 400px 43px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 63px 400px 43px rgba(0,0,0,0.85);
}

div .left::before{
    top: -22px;
}

#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}

#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #ffffff ;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #161616;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}



.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

.menumobile{
  display: none;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}

/*ATTENZIONE*/

@media (max-width: 991px){

  .menumobile{
    display:flex;
    width: 100%;
    background: linear-gradient(-45deg, #00548f, #00ab9a, #00ca80);
  }

  .menudesktop{
    display: none;
  }

  .menumobile.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    width: 100%;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgba(255, 255, 255, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: rgba(221, 221, 221, 0.279);
    color: rgb(255, 255, 255);
  }
  
  .active {
    background-color:linear-gradient(-45deg, #00548f, #00ab9a, #00ca80);
    color: white;
    width: 100%;
  }

  svg.svg-inline--fa.fa-bars{
    color: white;
  }



	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
 

/*PRIMA SEZIONE*/

.section1{
    padding-top: 7%;
}

.emoji {
    height: 80%;
    width: auto;
}

.description{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media  (max-width:600px){
    .emoji {
        height: 40%;
        width: auto;
    }

    .phonecontainer{
        height:800px;
        margin-bottom: -350px;

    }
    
    .description{
        color: white;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button:hover{
        pointer-events:stroke ;
    }

}

.button{
    margin-top: 30px ;
    height: 50px;
    width: 250px;
    border-radius: 5%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border:0.5px solid white;
    border-radius:30px;
    background: linear-gradient(-45deg, #00548f, #00ab9a);
box-shadow: 0px 0px 50px 50px rgba(15, 15, 15, 0.2);
-webkit-box-shadow: 0px 0px 50px 50px rgba(15, 15, 15, 0.2);
-moz-box-shadow: 0px 0px 50px 50px rgba(15, 15, 15, 0.2);
}

.button:hover{
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
    box-shadow: 0px 0px 75px -5px rgba(255,255,255,0.53);
-webkit-box-shadow: 0px 0px 75px -5px rgba(255,255,255,0.53);
-moz-box-shadow: 0px 0px 75px -5px rgba(255,255,255,0.53);
}

.button a{
  color: white;
  text-decoration: none;
}

.typed-out{
  overflow: hidden;

  white-space: nowrap;
  animation: 
    typing 4s forwards;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/*SECONDA SEZIONE*/

.section2{
  padding-top: 5%;
}

@media only screen and (max-width: 990px){
    .section2{
        margin-top: 100px;
    }
}

.section2 a{
  z-index: 5;
  color:black;
  text-decoration: none;
}

.carre{
    width: 300px;
    height: 250px;
    z-index: 2;
    border: 1 black solid;
    box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.2);
border-radius:10px;
}

.progetto1{
  background-image: url(/img/workingspace.webp);
  background-size: 100% 100%;
}

.progetto2{
  background-image: url(/img/recyclaura.webp);
  background-size: 100% 100%;
}

.progetto3{
  background-image: url(/img/projet-en-cours.webp);
  background-size: 100% 100%;
}

.carre:hover{
    transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -moz-transform: scale(1.1) ;
    box-shadow: 0px 0px 75px -5px rgba(255,255,255,0.53);
-webkit-box-shadow: 0px 0px 75px -5px rgba(255,255,255,0.53);
-moz-box-shadow: 0px 0px 75px -5px rgba(255,255,255,0.53);
}


.rectangle{
    height: 380px;
    width: 50%;
    position: absolute;
    z-index: 1;
    border-radius: 0px 30px 30px 0px;
      background: linear-gradient(-45deg, #00548f, #00ab9a, #00ca80);
      background-size: 400% 400%;
      animation: gradient 2s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    


@media only screen and (max-width: 768px){
    .rectangle{
        height: 1050px;
        width: 100%;
        position: absolute;
        z-index: 1;
        border-radius: 0px 30px 30px 0px;
    }
}

@media only screen and (max-width: 576px){
    .rectangle{
        height: 1050px;
        width: 100%;
        position: absolute;
        z-index: 1;
        border-radius: 0px;
    }

}

.progetto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.carres {
    margin-top: 35px;
    align-items: center;
    gap: 50px;
}

/*TERZA SEZIONE*/

.section3 img {
    border-radius: 10px;
    height: 5%;
    width: auto;
}

.titresection3 {
    color: white;
    text-align: center;
    padding-bottom: 60px;
}

.section3 .container {
    margin-top: 0px;
    margin-bottom: 0px;
}

  .slick-slide {
      margin: 0px 20px;
  }

  div.slick-track {
   height: 110px;
  }

  div .outil{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top:15%;
    padding-bottom: 10%;
  }

  .outil h3 {
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
  }

div.outil .svg-inline--fa{
  color: white;
  display: flex;
  align-self: center;
  height: 50%;
  margin-bottom: 5%;
  width: auto;
  }

  /*per sql*/

  div.outil .sqlite{
    color: white;
    display: flex;
    align-self: center;
    height: 50%;
    margin-bottom: 5%;
    width: 17%;
    }
  
  .slick-slide img {
      width: 100%;
  }

  .slick-slide div .outil {
      width: 100%;
      height:105px;
      border-radius: 10px;
      
  }

  .slick-slide div .html{
    background: #ff0909;
    background: linear-gradient(330deg,#ff0909 0%, #ff6b00 80%);
    background: -webkit-linear-gradient(330deg,#ff0909 0%, #ff6b00 80%);
    background: -moz-linear-gradient(330deg,#ff0909 0%, #ff6b00 80%);
  }

  .slick-slide div .css{
    background: #0028ff;
    background: linear-gradient(330deg,#0028ff 0%, #0093ff 80%);
    background: -webkit-linear-gradient(330deg,#0028ff 0%, #0093ff 80%);
    background: -moz-linear-gradient(330deg,#0028ff 0%, #0093ff 80%);
  }

  .slick-slide div .js{
    background: #ff7b00;
    background: linear-gradient(330deg,#ff7b00 0%, #ffb800 80%);
    background: -webkit-linear-gradient(330deg,#ff7b00 0%, #ffb800 80%);
    background: -moz-linear-gradient(330deg,#ff7b00 0%, #ffb800 80%);
  }

  .slick-slide div .wordpress{
    background: #000a7d;
    background: linear-gradient(330deg,#000a7d 0%, #0065ff 80%);
    background: -webkit-linear-gradient(330deg,#000a7d 0%, #0065ff 80%);
    background: -moz-linear-gradient(330deg,#000a7d 0%, #0065ff 80%);
  }

  .slick-slide div .bootstrap{
    background: #37007d;
    background: linear-gradient(330deg,#37007d 0%, #dc00ff 80%);
    background: -webkit-linear-gradient(330deg,#37007d 0%, #dc00ff 80%);
    background: -moz-linear-gradient(330deg,#37007d 0%, #dc00ff 80%);
  }

  .slick-slide div .react{
    background: #00548f;
    background: linear-gradient(330deg,#00548f 0%, #00ab9a 80%);
    background: -webkit-linear-gradient(330deg,#00548f 0%, #00ab9a 80%);
    background: -moz-linear-gradient(330deg,#00548f 0%, #00ab9a 80%);
  }

  .slick-slide div .php{
    background: #9f1ece;
    background: linear-gradient(330deg,#9f1ece 0%, #cc00ad 80%);
    background: -webkit-linear-gradient(330deg,#9f1ece 0%, #cc00ad 80%);
    background: -moz-linear-gradient(330deg,#9f1ece 0%, #cc00ad 80%);
  }

  .slick-slide div .figma{
    background: #04721c;
    background: linear-gradient(330deg,#04721c 0%, #00cc81 80%);
    background: -webkit-linear-gradient(330deg,#04721c 0%, #00cc81 80%);
    background: -moz-linear-gradient(330deg,#04721c 0%, #00cc81 80%);
  }

  .slick-slide div .gitlab{
    background: #ff3e00;
    background: linear-gradient(330deg,#ff3e00 0%, #ff7b00 80%);
    background: -webkit-linear-gradient(330deg,#ff3e00 0%, #ff7b00 80%);
    background: -moz-linear-gradient(330deg,#ff3e00 0%, #ff7b00 80%);
  }

  .slick-slide div .sql{
    background: #1b40ff;
background: linear-gradient(330deg,#1b40ff 0%, #00ccbe 80%);
background: -webkit-linear-gradient(330deg,#1b40ff 0%, #00ccbe 80%);
background: -moz-linear-gradient(330deg,#1b40ff 0%, #00ccbe 80%);
  }

 

  
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

  /*4 SEZIONE FORMAZIONE*/

  .formationmobile{
    display: none;
  }


  @media only screen and (max-width: 1162px){
    .formations{
      display: none;
      
    }

    .formationmobile{
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center
    }

}




  @import url('//fonts.googleapis.com/css?family=Exo');

  
  .tabs {
    margin: auto;
    max-width: 60%;
  }
  
  .tabs input[name="tab"],
  .tabs .tab-content {
    display: none;
  }
  
  .tabs label {
    background-color: #00796d;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-bottom: 2%;
    text-align: center;
    width: 16.2%;
    border-radius: 10px;
  }

  @media only screen and (max-width: 1320px){
  .tabs label {
    font-size: small;
    background-color:  #00796d;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-bottom: 2%;
    text-align: center;
    width: 16%;
    border-radius: 10px;
  } 
}
  
  #tab-1:checked ~ .tabs-label [for="tab-1"],
  #tab-2:checked ~ .tabs-label [for="tab-2"],
  #tab-3:checked ~ .tabs-label [for="tab-3"],
  #tab-4:checked ~ .tabs-label [for="tab-4"],
  #tab-5:checked ~ .tabs-label [for="tab-5"],
  #tab-6:checked ~ .tabs-label [for="tab-6"],
  .tabs label:hover {
    background-color: #dfdfdf;
    color: black;
}
  
  .tabs .tab-content {
    background-color: #dfdfdf;
    box-sizing: border-box;
    line-height: 2;
    padding: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    border-radius: 10px;
  }
  
  #tab-1:checked ~ .tabs-content #tab-1-content,
  #tab-2:checked ~ .tabs-content #tab-2-content,
  #tab-3:checked ~ .tabs-content #tab-3-content,
  #tab-4:checked ~ .tabs-content #tab-4-content,
  #tab-5:checked ~ .tabs-content #tab-5-content,
  #tab-6:checked ~ .tabs-content #tab-6-content {
    display: block;
  }

  /*SEZIONE LINGUA*/


  .sectionlangue{
    color: white;
    text-align: center;
    margin-bottom: 15%;
  }

  .titre5{
    margin-bottom: 3%;
  }

  .progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #dfdfdf;
 }
  
  .progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
   }
  
  .progress-circle span {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background:#2a2a2a;
    z-index: 1; }
  
  .progress-circle span:after {
    font-weight: 600;
    color: #1e1e1e; }
  
  .progress-circle.progress-0:after {
    background-image: linear-gradient(90deg, #dfdfdf 50%, transparent 50%, transparent), linear-gradient(90deg, #083b68 50%, #dfdfdf 50%, #dfdfdf); }
  
    .progress-circle.progress-99:after {
        background-image: linear-gradient(86.4deg, #00796d 50%, transparent 50%, transparent), linear-gradient(270deg, #00796d 50%, #dfdfdf 50%, #dfdfdf); }
  
        .progress-circle.progress-85:after {
            background-image: linear-gradient(36deg, #00796d 50%, transparent 50%, transparent), linear-gradient(270deg, #00796d 50%, #dfdfdf 50%, #dfdfdf); }
  
    .progress-circle.progress-75:after {
        background-image: linear-gradient(0deg, #00796d 50%, transparent 50%, transparent), linear-gradient(270deg, #00796d 50%, #dfdfdf 50%, #dfdfdf); }
  
        .progress-circle.progress-60:after {
            background-image: linear-gradient(-54deg, #00796d 50%, transparent 50%, transparent), linear-gradient(270deg, #00796d 50%, #dfdfdf 50%, #dfdfdf); }


    @keyframes colorload {
        0% {
          opacity: 0;
          transform: rotate(0deg); }
        100% {
          opacity: 1;
          transform: rotate(360deg); } 
        }




/*FOOTER*/

.footer{
    width: 100%;
    height:40%;
    display: grid;
  background-color: #1a1a1a;
  place-items: center;
  padding-bottom: 5%;
}

.footer img{
width: 14%;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js");



*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.contact{
  color:white;
display: flex;
align-items: center;
flex-direction: column;
}



.contact a {
  color: white;
  text-decoration: none;
}

.contact h3{
  font-size: 18px;
}

.contact li{
  color:white;
}

.footer img{
  width: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 38%;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  margin-top: 3%;
  padding-left: 16px;
  padding-right: 16px;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(236, 236, 236, 0.1); /*ombra*/
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  left: 50%;
  bottom: -3px;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  right: -25%;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #0600ff;
background: linear-gradient(45deg,#0600ff 0%, #00a2ff 80%);
background: -webkit-linear-gradient(45deg,#0600ff 0%, #00a2ff 80%);
background: -moz-linear-gradient(45deg,#0600ff 0%, #00a2ff 80%);
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: rgba(32,68,255,0.88);
background: linear-gradient(45deg,rgba(32,68,255,0.88) 0%, #5eb5ff 80%);
background: -webkit-linear-gradient(45deg,rgba(32,68,255,0.88) 0%, #5eb5ff 80%);
background: -moz-linear-gradient(45deg,rgba(32,68,255,0.88) 0%, #5eb5ff 80%);
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #ff0000;
background: linear-gradient(45deg,#ff0000 0%, #ff0089 80%);
background: -webkit-linear-gradient(45deg,#ff0000 0%, #ff0089 80%);
background: -moz-linear-gradient(45deg,#ff0000 0%, #ff0089 80%);
  color: #ffffff;
}

.wrapper .gitlab:hover,
.wrapper .gitlab:hover .tooltip,
.wrapper .gitlab:hover .tooltip::before {
  background: #ff0000;
  background: linear-gradient(45deg,#ff0000 0%, #ffb800 80%);
  background: -webkit-linear-gradient(45deg,#ff0000 0%, #ffb800 80%);
  background: -moz-linear-gradient(45deg,#ff0000 0%, #ffb800 80%);
  color: #ffffff;
}

.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
  background: #6f30ff;
  background: linear-gradient(45deg,#6f30ff 0%, #ff00c6 80%);
  background: -webkit-linear-gradient(45deg,#6f30ff 0%, #ff00c6 80%);
  background: -moz-linear-gradient(45deg,#6f30ff 0%, #ff00c6 80%);
  color: #ffffff;
}

.svg-inline--fa{
    height: 1em;
    color: rgb(0, 0, 0);
}

.svg-inline--fa:hover{
  height: 1em;
  color: rgb(255, 255, 255);
}

.wrapper:hover{
  color:white;
}

